{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col s12">
    <div class="card-panel white">
      <form action="/" method="post">
        <div class="row">
          <div class="col s3">
            <h5>Encounter Generator</h5>
            <button class="btn red darken-4" type="submit">
              <i class="material-icons">replay</i>
            </button>
          </div>
          <div class="input-field col s3">
            <select id="number" name="number">
              {% for i in range(1, 11) %}
              <option value="{{i}}" {% if session['number']==i|string() %} selected {% endif %}>
                {{i}}
              </option>
              {% endfor %}
            </select>
            <label>How many opponents?</label>
          </div>
          <div class="input-field col s3">
            <select id="crmin" name="crmin">
              {% for i in range(21) %}
              <option value="{{i}}" {% if session['crmin']==i|string() %} selected {% endif %}>
                {{i}}
              </option>
              {% endfor %}
            </select>
            <label>Min CR</label>
          </div>
          <div class="input-field col s3">
            <select id="crmax" name="crmax">
              {% for i in range(20, 0, -1) %}
              <option value="{{i}}" {% if session['crmax']==i|string() %} selected {% endif %}>
                {{i}}
              </option>
              {% endfor %}
            </select>
            <label>Max CR</label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <div class="row">
      {% for mob in session['monsters'] %}
      <div class="col s4">
        <div class="card amber lighten-5">
          <div class="card-image">
            <img src="{{mob['image']}}">
            <span class="card-title red darken-4">{{mob['name']}} [CR: {{mob['challenge_rating']}}]</span>
            <a class="btn btn-floating halfway-fab waves-effect waves-light red modal-trigger"
              href="#modal{{loop.index}}">
              <i class="material-icons">call_to_action</i>
            </a>
          </div>
          <div class="card-content">
            <ul>
              <li>HP: {{mob['hit_points']}}</li>
              <li>AC: {{mob['armor_class'][0]["value"]}}</li>
              <li>Size: {{mob['size']}}</li>
            </ul>
          </div>
        </div>
        <div id="modal{{loop.index}}" class="modal">
          <div class="modal-content">

          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}